 <div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-6">
       <div class="panel panel-primary">
          <div class="panel-heading">
            <h2> Board: <%= @task.title %> </h2>
          </div>
           <% unless  notice.blank? %>
            <div class="alert alert-success">
                <p id="notice"><%= notice %></p>
            </div>
            <% end %>
          <div class="panel-body">
            <p>
              <strong>Title:</strong>
              <%= @task.title %>
            </p>
            
            <p>
              <strong>Priority:</strong>
              <%= @task.priority %>
            </p>
            
            <p>
              <strong>Status:</strong>
              <%= @task.status %>
            </p>
            
            <p>
              <strong>Board:</strong>
              <%= @task.board_id %>
            </p>
            <p>
              <strong>Create_at:</strong>
               <%=  @task.created_at.strftime("%F") + %{ - } +  @task.created_at.strftime("%T") %>
            </p>
          </div>
           <div class="panel-footer">
               <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-primary" %> |
               <%= link_to 'Back', tasks_path, class: "btn btn-sm btn-white" %>
            </div>
        </div>  
    </div>
</div>
</div>



