 <% if user_signed_in? %>
<div class="row wrapper border-bottom  page-heading">
    <div class="col-lg-12">
         <div class="ibox">
                <div class="ibox-content agile-board">
                    <%= form_tag "/tasks_create", :class => "form-inline", :role => "form", :id => "form-add-task"  do |f| %>
                    <input type="hidden" value="<%= form_authenticity_token() %>"  name="authenticity_token"/>
                        <% flash.each do |name, msg| %>
                				<%= content_tag(:div, msg, class: "alert alert-#{name == "notice" ? "success" : "danger"}") %>
                		<% end %>
                                          
                        <div class="form-group">
                            <%= text_field_tag "task[title]",nil, { class: "form-control", placeholder: "Description Task", required: true, minlength: 10, maxlength: 500}  %>
                          </div>
                          <div class="form-group">
                               <%= select "task", "status", Task.statuses.map {|k, v| [k.humanize.capitalize, k]}, {prompt: "Select a status"}, { class: 'form-control', required: true } %>
                          </div>
                           <div class="form-group">
                               <%= select "task", "priority", Task.priorities.map {|k, v| [k.humanize.capitalize, k]}, {prompt: "Select a priority"}, { class: 'form-control',required: true} %>
                          </div>
                          <div class="form-group">
                            <%= collection_select :task,:board_id, Board.all,:id,:title, {prompt: "Select a board"}, {class: "form-control", required: true} %>
                          </div>
                          <%= submit_tag "Add Task", class: "btn btn-primary" %>
                       
                    <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
   
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content agile-board">
                    <h3>To-do</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>

                    <%= form_tag("/agile_board", method: :get, id: 'board_form') do |f| %> 
                        <%= select_tag 'board_id', options_from_collection_for_select(@boards, 'id', 'title',  session[:board_id]), prompt: "Select Board", class: "form-control", onchange: "$('#board_form').submit();" %>
                    <% end %>
                    
                    <ul id="ToDo" class="sortable-list connectList agile-list">
                        <% @tasks.each do |task| %>
                            <% if task.status == "ToDo" %>
                           		<li id="<%= task.id %>" class="<%= color_task_priority task.priority %>-element">
                               <p class="label label-<%= color_label_priority task.priority %> pull-right"><i class="fa fa-exclamation"> </i> <%= task.priority.humanize %></p></br>
                              <%= task.title %>
                                <div class="agile-detail">
                                    <% if task.user == current_user %>
                                        <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right btn btn-xs btn-outline btn-danger"  do %>
                                            <i class="fa fa-trash"></i>
                                        <% end %>
                                    <% end %>
                                    <i class="fa fa-clock-o"></i>  <%= task.created_at.to_s(:db) %></br>
                                    <i class="fa fa-user"> </i> <%= task.user.name %></br>
                                   
                            </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content agile-board">
                    <h3>In Progress</h3>
                    <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->
                    <ul id="InProgress" class="sortable-list connectList agile-list">
                        <% @tasks.each do |task| %>
                            <% if task.status == "InProgress" %>
                           	<li id="<%= task.id %>" class="<%= color_task_priority task.priority %>-element">
                                <p class="label label-<%= color_label_priority task.priority %> pull-right"><i class="fa fa-exclamation"> </i> <%= task.priority.humanize %></p></br>
                               <%= task.title %>
                                <div class="agile-detail">
                                     <% if task.user == current_user %>
                                        <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right btn btn-xs btn-outline btn-danger"  do %>
                                            <i class="fa fa-trash"></i>
                                        <% end %>
                                    <% end %>
                                    <i class="fa fa-clock-o"></i>  <%= task.created_at.to_s(:db) %></br>
                                    <i class="fa fa-user"> </i> <%= task.user.name %>
                                </div>
                            </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content agile-board">
                    <h3>To Verify</h3>
                    <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->
                    <ul id="ToVerify" class="sortable-list connectList agile-list">
                        <% @tasks.each do |task| %>
                            <% if task.status == "ToVerify" %>
                           	<li id="<%= task.id %>" class="<%= color_task_priority task.priority %>-element">
                                <p class="label label-<%= color_label_priority task.priority %> pull-right"><i class="fa fa-exclamation"> </i> <%= task.priority.humanize %></p></br>
                               <%= task.title %>
                                <div class="agile-detail">
                                    <% if task.user == current_user %>
                                        <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right btn btn-xs btn-outline btn-danger"  do %>
                                            <i class="fa fa-trash"></i>
                                        <% end %>
                                    <% end %>
                                   <i class="fa fa-clock-o"></i>  <%= task.created_at.to_s(:db) %></br>
                                     <i class="fa fa-user"> </i> <%= task.user.name %>
                                </div>
                            </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
         <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content agile-board">
                    <h3>Done</h3>
                    <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->
                    <ul id="Done" class="sortable-list connectList agile-list">
                      <% @tasks.each do |task| %>
                            <% if task.status == "Done" %>
                           	<li id="<%= task.id %>" class="<%= color_task_priority task.priority %>-element">
                                <p class="label label-<%= color_label_priority task.priority %> pull-right"><i class="fa fa-exclamation"> </i> <%= task.priority.humanize %></p></br>
                               <%= task.title %>
                                <div class="agile-detail">
                                    <% if task.user == current_user %>
                                        <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right btn btn-xs btn-outline btn-danger"  do %>
                                            <i class="fa fa-trash"></i>
                                        <% end %>
                                    <% end %>
                                    <i class="fa fa-clock-o"></i>  <%= task.created_at.to_s(:db) %></br>
                                     <i class="fa fa-user"> </i> <%= task.user.name %>
                                </div>
                            </li>
                             <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


    $(function() {
    
     $(".sortable-list").sortable({
         connectWith: ".connectList",
         receive: function(e,ui) {
          $(this).sortable('serialize');
          var status = e.target.id;
          
          var id = ui.item.context.id;
          $.ajax({
            type  : "POST",
            url   : "/toogle_status_task/" + id,
            data: {task: { status: status }},
            dataType: "json",
            success: function (data) {
               
               
               toastr.options = {
                      "closeButton": true,
                      "debug": false,
                      "progressBar": true,
                      "positionClass": "toast-top-right",
                      "onclick": null,
                      "showDuration": "400",
                      "hideDuration": "1000",
                      "timeOut": "7000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
               
               toastr.success('Change status task for: ' + data.status + '\n' + 'Task Title: ' + data.title )
               
               
            },
            error: function () {
               toastr.warning('Job status can not be changed' )
            }
          }); 
        }  
     }).disableSelection();
     
     
    });

</script>

<% end %>

  