 <div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-6">
       <div class="panel panel-primary">
          <div class="panel-heading">
            <h2> Board: <%= @board.title %> </h2>
          </div>
           <% unless notice.blank? %>
            <div class="alert alert-success">
                <p id="notice"><%= notice %></p>
            </div>
            <% end %>
          <div class="panel-body">
             <p>
              <strong>Title:</strong>
              <%= @board.title %>
            </p>
            
            <p>
              <strong>Public:</strong>
              <%= @board.public %>
            </p>
             <p>
              <strong>Create_at:</strong>
               <%= @board.created_at.strftime("%F") + %{ - } + @board.created_at.strftime("%T") %>
            </p>
          </div>
           <div class="panel-footer">
                <%= link_to 'Edit', edit_board_path(@board), class: "btn btn-primary" %> |
                <%= link_to 'Back', boards_path, class: "btn btn-sm btn-white" %>
            </div>
        </div>  
    </div>
</div>
</div>





